.leagues-list {
    display: flex;
    flex-direction: column;
    list-style: none;

    .leagues-title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .leagues-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 1rem;
    }

    .league-matches {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            @include respond(phone) {
                gap: 2rem;
            }

            .history-icon {
                color: $teal1;
                font-size: 3.5rem;

                @include respond(phone) {
                    font-size: 5rem;
                }
            }

            h3 {
                font-size: 4rem;

                @include respond(phone) {
                    font-size: 3rem;
                }
            }
        }

        .navigate-to-match {
            display: flex;
            gap: 2rem;

            .link-to-matches {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 4rem;
                background-color: rgba($p2, 1);
                border-radius: 1rem;
                border: 0.5px solid rgba($n5, 1);

                @include respond(phone) {
                    border: 1px solid rgba($n5, 1);
                }

                span {
                    font-size: 1.8rem;
                }

                text-decoration: none; // Removes the underline
                color: inherit; // Inherits the color of its parent, or you can set a specific color

                &:hover {
                    text-decoration: none;
                    transform: scale(1.02);
                }
            }
        }
    }
}