.cards-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    gap: 2rem;
    padding: 3rem;
    border-radius: 0.5rem;
    border: 2px solid rgba($n11, 1);
    background-color: rgba($p2, .3);

    @include respond(phone) {
        padding: 1rem;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: $default-border-bottom;
        width: 100%;

        h3 {
            font-size: 2.2rem;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding-bottom: 1rem;

        button {
            width: 12rem;
            height: 4rem;
            font-size: 1.7rem;
            border: none;
            border-radius: 0.5rem;
            background-color: $p2;
            color: $color-white;
            cursor: pointer;

            span {
                font-size: 1.3rem;
            }

            &.active {
                background-color: $p1;
                font-weight: bold;
                border: 3px solid rgba($n11, 1);
            }

            &:hover {
                background-color: rgba($n5, 10%);
                transform: scale(1.03);
                text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            }
        }
    }

    .cards-data {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;

        @include respond(phone) {
            gap: 3rem;
            justify-content: center;
        }

        .team-data {
            display: flex;
            flex-direction: column;

            .team-title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 1rem;

                h3 {
                    font-size: 1.8rem;
                    font-weight: bold;
                }
            }

            .team-cards {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-weight: bold;
                gap: 4rem;
                padding: 3rem;
                border-top: $default-border-bottom;

                @include respond(phone) {
                    padding: 1rem;
                    gap: 2rem;
                }

                .card {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    height: 10rem;
                    width: 8rem;
                    color: $color-white;
                    border-radius: 5px;
                    border: $default-white-border;

                    &:hover {
                        transform: scale(1.03);
                        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
                    }

                    @include respond(phone) {
                        font-size: 2.2rem;
                    }
                }

                .yellow {
                    background-color: rgba($y3, 1);
                }

                .red{
                    background-color: rgba($r2, .9);
                }
            }
        }
    }
}