.sticky-header {
    position: sticky;
    top: 10vh;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: $p2;
    padding: 1rem 5rem;
    border-top: 0.1px solid rgba($color-white, .45);
    box-shadow: $default-box-shadow;

    .team-data {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            box-shadow: $default-box-shadow;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    .date{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;

        h3 {
            font-size: 1.5rem;
        }
    }

    .home{
        justify-self: start;
    }

    .away{
        justify-self: end;
    }
}