.future-match-details {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "league teams place"
        "details details details";
    gap: 1.5rem;
    font-size: 1.6rem;

    .league-data {
        grid-area: league;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);


        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            box-shadow: $default-box-shadow;
        }

        .league-info {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3rem;
            }
        }
    }

    .teams-data {
        grid-area: teams;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);


        .team-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 20rem;

            img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                box-shadow: $default-box-shadow;
            }

            span {
                border-bottom: $default-border-bottom;
                font-size: 1.2rem;
            }
        }

        .vs {
            font-size: 2.5rem;
            color: rgba($n5, 1);

            span {
                width: 5rem;
                height: 5rem;
                padding: 1.5rem;
                border-radius: 50%;
                border: 2px solid rgba($n11, 1);
            }
        }
    }

    .place-data {
        grid-area: place;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);

        .date {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 1.5rem;
            padding-bottom: 2rem;
        }

        .stadium {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            gap: 1rem;
            font-size: 4rem;

            h3 {
                font-size: 1.4rem;
            }
        }
    }

    .details {
        grid-area: details;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .statistic-table {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding: 3rem;
            border-radius: 0.5rem;
            border: 2px solid rgba($n11, 1);
            background-color: rgba($p2, .3);

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 1rem;
                border-bottom: $default-border-bottom;
                width: 100%;

                h3 {
                    font-size: 2.2rem;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 3rem;

                button {
                    width: 12rem;
                    height: 4rem;
                    font-size: 1.7rem;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: $p2; 
                    color: $color-white;
                    cursor: pointer;
        
                    span{
                        font-size: 1.3rem;
                    }
            
                    &.active {
                        background-color: $p1; 
                        font-weight: bold;
                        border: 3px solid rgba($n11, 1);
                    }
            
                    &:hover {
                        background-color: rgba($n5, 10%); 
                    }
                }
            }

            .statistics-data{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}