.home-page{
    display: flex;
    flex-direction: column;

    .home-container{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include respond(phone) {
            padding: 1rem;
        }
    }
}