.past-match-details {
    padding: 3rem;
    display: grid;
    grid-template-areas: "cta cta"
        "league team"
        "place place"
        "table table";
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    .call-to-action-header {
        grid-area: cta;
    }

    .league-data {
        grid-area: league;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        padding: 2rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);
        height: 100%;
        width: 100%;


        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            box-shadow: $default-box-shadow;
        }

        .league-info {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3rem;
            }
        }
    }

    .teams-data {
        grid-area: team;
        display: flex;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);


        .team-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 20rem;

            img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                box-shadow: $default-box-shadow;
            }

            span {
                border-bottom: $default-border-bottom;
                font-size: 1.2rem;
            }
        }

        .score-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2rem;
            margin-right: 2rem;
            min-width: 6rem; 
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .place-data {
        grid-area: place;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 2px solid rgba($n11, 1);
        background-color: rgba($p2, .3);

        .date {
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            gap: 1.5rem;
            padding-right: 2rem;
        }

        .stadium {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            gap: 1rem;
            font-size: 4rem;
            padding-right: 2rem;

            h3 {
                font-size: 1.4rem;
            }
        }
    }

    .statistic-data {
        grid-area: table;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1150px) {
        padding: 1.5rem;
    }

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
}