.user-details{
    padding: 3rem;
    font-size: 1.6rem;

    .user-header{
        width: 100%;
        border-bottom: 2px solid rgba($teal1, 1);
        font-size: 1.8rem;
    }

    .account-info{
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        strong{
            font-size: 1.7rem;
            border-bottom: 0.8px solid rgba($teal1, 1);
        }

        .edit-notifications-btn{
            padding: 0.7rem;
            color: $color-white;
            background: $n11;
            border-radius: 5px;
            border: 0.8px solid rgba($teal1, 1);
        }
    }
}
  