.user-details{
    padding: 3rem;
    font-size: 1.6rem;

    .user-header{
        width: 100%;
        border-bottom: 2px solid rgba($teal1, 1);
        font-size: 1.8rem;
    }

    .account-info{
        padding: 3rem 1rem;
    }
}
  