//COLORS
$p1: #000616;
$p2: #080f25;
$p3: #0d1322;
$n1: #0a1023;
$n2: #2c3655;
$n3: #848894;
$n4: #959aaa;
$n5: #bdc2d1;
$n6: #212c4d;
$n7: #f8f8f8;
$n8: #ffffff;
$n9: #f5faff;
$n10: #eef1ff;
$n11: #0f1b42;
$g1: #35c31e;
$r1: #ff4800;
$y1: rgb(255, 238, 0);
$y2: #bd8e17;

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size: 1.6rem;

//BOX SHADOW
$default-box-shadow: 0 1rem 2rem rgba($color-black, .15);

// BORDER BOTTOM
$default-border-bottom: 3px solid rgba($n11, 1);
$default-white-border: 1px solid #ddd;
$default-black-border: 1px solid #000000;