body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-white;
    background-color: $p1;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: visible;

    .main-routes {
        flex: 1;
        overflow-y: auto;
    }

    &.sidebar-open .side-bar {
        transform: translateX(0); // Ensure sidebar shows when toggled
      }

    @media only screen and (max-width: 1024px) {
        
        .main-routes {
            flex: 1; 
            width: 100%; 
        }

        &.sidebar-open .main-routes {
            pointer-events: none; // Prevent interaction when sidebar is open
            opacity: 0.2; // Optional: Dim the content
          }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    transition: all .2s;
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;

    @include respond(tab-port){
        font-family: 3rem;
    }

    @include respond(phone){
        font-size: 2rem;
        font-family: 2.5rem;
    }
}

.btn-text {
    all: unset;

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $p1;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $p1;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
        transform: scale(1.05);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.link {
    text-decoration: none; // Removes the underline
    color: inherit; // Inherits the color of its parent, or you can set a specific color

    &:hover {
        text-decoration: none;
        color: inherit; // Keeps the same color on hover
    }
}